.about-page {
  position: relative;
  .main-header {
    position: absolute;
    top: 0;
  }

  &-about-container,
  &-services-container {
    h1 {
      font-size: rem(130px);
    }
    h2 {
      font-size: rem(40px);
    }
    p {
      font-size: rem(12px);
      margin: 2px 0px;
    }
    span {
      color: $clr12;
    }
    button {
      margin-top: 15px;
      font-size: rem(24px);
      padding: 10px 30px;
      width: auto;
    }
  }

  &-about-container {
    height: 90vh;
    // background-image: url("https://res.cloudinary.com/dzeycmkct/image/upload/v1679463906/background_yah8br.jpg");
    // background-size: cover;
    // background-position-x: center;

    .between-about-services {
      height: 70px;
      width: 100%;
      background: linear-gradient(#ffffff00, $background_black);
    }

    .about-title {
      position: relative;
    }
  }

  &-services-container {
    margin: 20px 5%;
    .service {
      &-container {
        margin-top: 20%;
        &not:last-child {
          margin-top: 0px;
        }
        height: 400px;
        border-radius: 10px;
        h2 {
          font-weight: bold;
          font-size: rem(35px);
          color: $clr7;
          font-weight: bold;
          padding: 10px;
        }
        p {
          font-size: rem(20px);
          padding: 10px;
          width: 75%;
          color: $clr7;
        }
      }

      &-img {
        height: 100%;
        width: 400px;
        border-radius: 5px;
        &.workout-plan {
          background-image: url("https://res.cloudinary.com/dzeycmkct/image/upload/v1679434813/workoutplan_x6reyi.jpg");
          background-size: cover;
        }
        &.diet-plan {
          background-image: url("https://res.cloudinary.com/dzeycmkct/image/upload/v1679434902/dietplan_vxvsfd.jpg");
          background-size: cover;
        }
        &.share-plan {
          background-image: url("https://res.cloudinary.com/dzeycmkct/image/upload/v1679434860/shareonline_rmpch7.jpg");
          background-size: cover;
        }
      }
    }
  }

  &-reviews {
    padding: 100px 0px;
    .reviews-page {
      height: auto;
      background-color: $background_black;
      background-image: none;
      .reviews-list-container {
        height: auto;
        overflow-x: auto;
        display: flex;
        flex-direction: row;
        max-width: 900px;
        min-width: 320px;
        margin: 0 auto;
        justify-content: flex-start;
        flex-wrap: nowrap;
        padding: 0;
        .review-item {
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .main-header {
        display: none;
      }
    }
    button {
      &.button {
        font-size: rem(10px);
        margin-top: 10px;
      }
    }
    .add-review-page {
      background-color: #262626cc;
      height: auto;
      width: 100%;
      .main-header {
        display: none;
      }
      .review-form {
        max-width: 420px;
      }
    }
  }

  &-footer {
    padding: 15px 10%;
    background-color: $footer_black;
    p {
      font-size: rem(16px);
    }

    svg {
      font-size: rem(25px);
      border-radius: 3px;
      margin-right: 5px;
    }

    .icon {
      margin-right: 10px;
      &-linkedin {
        color: $clr6;
      }
      &-gmail {
        color: $clr1;
      }
      &-insta {
        color: #cc9704;
      }
    }
    .about {
      &-container-professions {
        justify-content: flex-end;
      }
      &-trainer {
        &-image {
          background-image: url("https://res.cloudinary.com/dzeycmkct/image/upload/v1679434681/me2_xcvfef.png");
        }
        margin-right: 10px;
        p {
          margin-left: 10px;
        }
      }
      &-programmer {
        P {
          margin-left: 10px;
        }
        &-image {
          background-image: url("https://res.cloudinary.com/dzeycmkct/image/upload/v1679434697/me1_kjjcwa.png");
        }
      }
      &-trainer,
      &-programmer {
        border-radius: 5px;
        &-image {
          border-radius: 4px;
          width: 25px;
          height: 25px;
          background-size: cover;
        }
      }
    }
  }
}

@media (max-width: $narrow-breakpoint) {
  .about-page {
    &-services-container {
      .service-container {
        height: auto;
        flex-direction: column;
        align-items: center;
        p {
          margin-bottom: 10px;
        }
        .service-img {
          height: 400px;
        }
      }
    }
    &-reviews {
      .reviews-list-container {
        .review-item {
          padding: 0;
          &:not(:first-child),
          &:not(:last-child) {
            margin: 5px 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .about-page {
    &-about-container {
      align-items: center;
      .about-title {
        width: 90%;
      }
    }
  }

  .about-page-footer {
    flex-direction: column-reverse;
    padding: 15px 5%;
    .about-container {
      &-title {
        margin-bottom: 5px;
      }
      flex-direction: column;
      align-items: center;
      &-professions {
        justify-content: space-between;
      }
      .about-trainer {
        margin-right: 10px;
      }
    }
    .contact-me {
      margin-top: 10px;
      text-align: center;
      &-icons {
        margin: 0 auto;
        justify-content: space-between;
        .icon {
          margin: 0;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .about-page-about-container {
    button {
      width: 70%;
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .about-page-about-container {
    button {
      width: 90%;
    }
    .about-title {
      h1 {
        font-size: rem(90px);
      }
      h2 {
        font-size: rem(30px);
      }
    }
  }
  .about-page-footer {
    .about-container {
      &-professions {
        flex-direction: column;
        align-items: center;
        .about-trainer {
          margin: 0;
          margin-bottom: 5px;
        }

        .about-programmer,
        .about-trainer {
          width: 220px;
          justify-content: flex-end;
        }
      }
    }
    .contact-me {
      p {
        line-height: 1;
        margin-left: 5px;
      }
      .contact-me-icons {
        width: 220px;
        flex-direction: column;
        align-items: baseline;
        margin: 0 auto;
        .icon {
          justify-content: center;
        }
      }
    }
    .about-container,
    .contact-me {
      padding: 30px;
    }
  }
}
