.authentication-page {
  height: 100vh;
  background-color: $background_white;

  .main-header {
    background-color: $main_nav_262626;
  }
}

.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  max-height: 80vh;
  overflow-y: scroll;
  padding: 1rem;
  width: 90%;
  max-width: 25rem;
  margin: 10px auto;
  text-align: center;
}

.authentication form {
  margin-bottom: 1rem;
}
