.diet-generator-page {
  height: 100vh;
  .main-header {
    background-color: $primary;
  }
}
.card {
  &.diet-generator__container {
    border-radius: 20px;
    width: 400px;

    h1 {
      color: $primary;
      font-size: 1.8rem;
    }
    p {
      margin: 1px 0px;
      color: $clr8;
    }

    button {
      margin-top: 10px;
    }

    .form-control {
      margin: 7px;
      label {
        margin-bottom: 0px;
        text-align: initial;
        margin-left: 5px;
      }
    }
  }
}

.get-your-diet-btn {
  margin-top: 20px;
}
.card {
  &.diet-generator__result {
    border-radius: 20px;
    max-height: 80vh;
    margin: 20px 0px;
    text-align: start;
    width: 450px;
    h1 {
      color: $primary;
      font-size: 2rem;
    }
    p {
      margin-right: 15px;
      color: $clr8;
    }
    hr {
      color: $clr8;
      width: 100%;
    }
  }
}
.diet-generator__result {
  &_container {
    margin-top: 5px;
    padding: 0px 5px 5px 10px;
    max-height: 90%;
    overflow-y: auto;
  }
  .ql-editor {
    height: 50vh;
  }
  ::-webkit-scrollbar {
    width: 6px;
    display: block;
  }
}

@media (min-width: 541px) and (max-width: 830px) {
  .diet-generator__container h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 540px) {
  .card {
    &.diet-generator__container,
    &.diet-generator__result {
      margin: 0 10px;
      h1 {
        font-size: 2rem;
      }
    }
    &.diet-generator__result {
      overflow-y: scroll;
    }
  }
}
