.diet-generator-page {
  height: 100vh;
  background-color: $background_white;
  .main-header {
    background-color: $main_nav_262626;
  }
}
.card {
  &.diet-generator__container {
    width: 400px;

    h1 {
      color: $clr12;
      font-size: 3rem;
    }
    p {
      margin: 1px 0px;
      color: $clr8;
    }

    button {
      margin-top: 10px;
    }

    .form-control {
      margin: 7px;
      label {
        margin-bottom: 0px;
        text-align: initial;
        margin-left: 5px;
      }
    }
  }
}

.get-your-diet-btn {
  margin-top: 20px;
}
.card {
  &.diet-generator__result {
    height: 80vh;
    margin: 20px 0px;
    text-align: start;
    width: 450px;
    h1 {
      color: $clr12;
      font-size: 2rem;
    }
    p {
      margin: 1px 0px;
      color: $clr8;
    }
    hr {
      color: $clr8;
      width: 80%;
    }
    &_container {
      height: 90%;
      overflow-y: scroll;
    }
  }
}

@media (min-width: 541px) and (max-width: 830px) {
  .diet-generator__container h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 540px) {
  .diet-generator__container {
    width: 100%;
    margin: 0;

    h1 {
      font-size: 3rem;
    }
  }
}
