.live-chat-page {
  height: 100vh;
  // background: url('../images/pxfuel.jpg');
  .main-header {
    background-color: $primary;
    position: relative;
  }
}
.chat-container {
  p {
    color: #262626;
  }
  h2 {
    text-shadow: 0px 0px 3px black;
  }
  box-shadow: $box_shadow;
  width: 80%;
  margin: 30px auto 0 auto;
}

.chat-window {
  border-radius: 10px;
  height: max-content;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 5px rgb(0 0 0 / 13%);

}
.chat-header {
  background: $primary_lighter;
  border-radius: 5px 5px 0px 0px;
}

.chat-window p {
  margin: 0;
}

.chat-window .chat-header {
  height: 45px;
  position: relative;
  cursor: pointer;
}
.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #262626;
  font-weight: 700;
  line-height: 45px;
}

.chat-body {
  flex-grow: 1;
  background: #d188ff24;
}

.chat-window .chat-body {
  height: calc(450px - (45px + 70px));
  position: relative;
}

.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  color: #262626;
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-content p {
  background-color: #43a047;
  color: white;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: flex-end;
}

#other .message-content p {
  background-color: cornflowerblue;
  color: white;
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

#you .message-content p,
#other .message-content p {
  padding: 5px 10px;
  border-radius: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  height: 50px;
  display: flex;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;
  padding: 0 0.7em;
  font-size: 1em;
  outline: none;
  font-family: "Open Sans", sans-serif;
  border-bottom-left-radius: 5px;
}

.chat-window .chat-footer button {
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: $primary_light;
  transition: $transition_fast;
  text-shadow: 1px 1px 2px black;
}

.chat-window .chat-footer button:hover {
  color: $primary_light_active;
}
.hide {
  opacity: 0 !important;
}

@media (max-width: $mobile-breakpoint) {
  .chat-container {
    padding: 25px;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .chat-window {
    height: 100%;
  }
}
