.user-reviews-list {
  &-page {
    height: 100vh;
    background-color: $background_white;
    .main-header {
      position: inherit;
      background-color: $main_nav_262626;
    }
  }
  padding: 0;
  &.no-reviews-found h2 {
    font-size: 1rem;
    margin-bottom: 5px;
  }
}
