body {
  margin: 0;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  background-image: url("https://img.freepik.com/free-photo/grunge-black-concrete-textured-background_53876-124541.jpg?w=1060&t=st=1678829476~exp=1678830076~hmac=8c083e9edf990a13b443f8cd132794680c4bbfdc30a3a4f25d579769c8bed5d2");
  /* background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80"); */
  background-size: cover;
}

main {
  margin-top: 10px;
}

h1,
h2,
h3 {
  margin: 0;
}

.hide {
  display: none;
}

.text-center {
  text-align: center;
}

.fill {
  width: 100%;
}
.half-fill {
  width: 50%;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

.align-end {
  align-items: end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.flex-row-rev {
  flex-direction: row-reverse;
}

.align-start {
  align-items: flex-start;
}

.pointer {
  cursor: pointer;
}

.centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
