// Colors
$clr1: #830000;
$clr2: #f34343;
$clr2: #33b249;
$clr3: #33b200;
$clr4: #ffbd63;
$clr5: #ffbd03;
$clr6: #4681f4;
$clr7: #dff0ea;
$white_light: #dff0ea;

$clr8: #211e1e;
$light_black: #211e1e;

$clr81: #211e1e80;

$clr9: #a881af;
$clr10: #80669d;

$primary_grey_blur: #8b66a39f;
$primary_light: #d188ff;
$primary_lighter: #deadfd;
$primary_light_active: #c366fd;

$primary_medium_light: #4f2c66;
$primary: #432656;

$main_header_dark_blue: $primary;

$footer_primary_dark: $primary;
$side-drawer: $primary;

$background_white: #fefefe;
$background_black: #252525;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

//Transition
$transition_fast: 0.2s;
$transition_moderated: 0.4s;
$transition_slow: 0.6s;

//box-shadow

$box_shadow: 0 6px 25px rgba(0, 0, 0, 0.07);
$user_shaodw_img: 0px 0px 1px 1px #252525;

$text_shadow_black: 0px 1px 25px #2626263b;

//hvoer
$hover_light_dark: #2c2c2c0e;
