.review-item {
  border-radius: 15px;
  margin: 5px 10px;
  width: 280px;
  cursor: pointer;

  .review-item__content {
    height: 300px;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 2px 0px #ffffff6b;
    position: relative;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 15px;
    padding: 0;

    h2,
    h3 {
      color: black;
    }

    h3 {
      height: 50px;
      overflow-y: auto;
      font-weight: normal;
      font-size: 0.8rem;
    }
    svg {
      color: #ffffff80;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100px;
      background-image: linear-gradient(
        180deg,
        rgb(0, 183, 255),
        rgb(255, 48, 255)
      );
      height: 200%;
      animation: rotBGimg 3s linear infinite;
      transition: all 0.2s linear;
    }

    @keyframes rotBGimg {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }

    &::after {
      content: "";
      position: absolute;
      background: #ffffff;
      inset: 5px;
      border-radius: 15px;
    }

    &_container {
      width: 100%;
      padding: 10px 15px 0px 15px;
      position: relative;
    }

    &_edit_button {
      position: absolute;
      right: 5px;
      top: 0px;
    }
  }

  &__content_link {
    padding: 5px;
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-decoration: none;
    transition: $transition_fast;
    &:hover {
      background: #00000020;
    }
  }

  &__user_image {
    img {
      object-fit: fill;
      height: 35px;
      width: 35px;
      border-radius: 100%;
    }
  }

  &__name {
    width: 150px;
    margin-left: 8px;
    font-weight: bold;
    font-size: 1.2rem;
  }

  &__stars {
    font-size: 0.6rem;
    align-items: center;
    justify-content: end;
  }

  &__hr {
    margin-top: 15px;
    width: 100%;
    border-bottom: 1px;
    opacity: 0.3;
  }

  &__review_image {
    flex-grow: 1;
    height: 100px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }

  &__likes_container {
    color: black;
    font-size: 2rem;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-around;

    p {
      margin: 0;
      font-size: 1.3rem;
      font-family: bold;
      padding: 0px 5px;
    }
    svg {
      font-size: rem(20px);
    }
  }

  &__dislike_buttom {
    svg {
      margin-bottom: 5px;
    }
  }
  &__dislike_buttom:hover {
    border-bottom-left-radius: 15px;
    background-color: rgb(255, 0, 0, 0.4);
  }

  &__like_buttom {
    svg {
      margin-top: 5px;
    }
  }

  &__like_buttom:hover {
    border-bottom-right-radius: 15px;
    background-color: rgba(0, 128, 0, 0.4);
  }

  &__dislike_buttom,
  &__like_buttom {
    padding-bottom: 5px;
    transition: $transition_slow;
  }
}

@media (max-width: $narrow-breakpoint) {
  .review-item:not(:first-child) {
    margin-top: 40px;
    width: 320px;
    cursor: pointer;
  }

  .review-item:last-child {
    padding-bottom: 50px;
  }
}
