.reviews {
  &-page {
    height: 100vh;
    background-image: url("https://res.cloudinary.com/dzeycmkct/image/upload/v1679434770/reviewspage-bg_og11s9.jpg");
    background-position:bottom;
    background-size: cover;
    background-repeat: no-repeat;

    .main-header {
      background-color: $main_nav_262626;
      position: inherit;
    }
  }
  &-list {
    &-container {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 5px 30px;
      margin: 0;
      overflow-x: hidden;
      height: 86vh;
    }
  }
}
