.reviews {
  &-page {
    height: 100vh;
    .main-header {
      position: inherit;
    }
  }
  &-list {
    &-container {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 5px 30px;
      margin: 0;
      overflow-x: hidden;
      height: 86vh;
    }
  }
}
