.user-review-item {
  width: 90%;
  box-shadow: $box_shadow;
  height: fit-content;
}
.user-review-item__content {
  padding: 0;
  position: relative;
}

.user-review-item__info {
  padding: 1rem;
  text-align: center;
}
.user-review-item__info h2,
.user-review-item__info p {
  color: #252525;
}

.user-review-item__user_image img {
  object-fit: fill;
  height: 41px;
  width: 41px;
  border-radius: 100%;
  box-shadow: $user_shaodw_img;
}

.user-review-item__name h2 {
  margin-left: 6px;
}

.review-item__info h3,
.review-item__info p {
  margin: 0 0 0.5rem 0;
}
.user-review-item__info-description {
  height: 120px;
  overflow-y: scroll;
}
.review-item__actions {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
}

.user-review-item__modal-content {
  padding: 0;
}

.user-review-item__modal-actions {
  text-align: right;
}

.user-review-item__actions {
  a,
  button {
    margin: 0.5rem;
  }
}

.user-review__likes_container {
  position: absolute;
  bottom: 5px;
  right: 10px;

  p,
  svg {
    font-size: rem(20px);
    color: $light_black;
  }

  p {
    margin: 0;
    font-size: rem(18px);
    padding: 0px 5px;
  }
}
