.main-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #252525;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
  padding: 1rem 5rem;
  z-index: 5;
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
}

@media (min-width: 500px) {
  .main-header {
    justify-content: space-between;
  }
}
