.main-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff29;
    padding: 10px 10%;
    z-index: 5;
  }
  
  @media (min-width: 500px) {
    .main-header {
      justify-content: space-between;
    }
  }
  