.review-item {
  margin: 5px;
  width: 20rem;
  cursor: pointer;
}

.review-item__content_link {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  text-decoration: none;
  color: white;
  background: #f5f5f5;
  transition: 0.5s;
}

.review-item__content_link:hover,
.review-item__content_link:active {
  background: rgb(193, 193, 193);
}
.review-item .review-item__content {
  padding: 0;
}

.review-item__content {
  height: 400px;
  box-shadow: 0px 0px 5px -2px #252525;
  padding: 0;
}

.review-item__content_container {
  width: 100%;
  padding: 10px 15px 0px 15px;
  position: relative;
}

.review-item__content_edit_button {
  position: absolute;
  right: 5px;
  top: 0px;
  color: #252525;
  opacity: 0.6;
}

.review-item__content h2 {
  color: #252525;
}

.review-item__content h3 {
  height: 100px;
  overflow-y: auto;
  font-weight: normal;
  font-size: 1rem;
  color: #252525;
}

.review-item__content:hover h2,
.review-item__content:active h2,
.review-item__content:hover h3,
.review-item__content:active h3 {
  color: #292929;
}

.review-item__user_image img {
  object-fit: fill;
  height: 41px;
  width: 41px;
  border-radius: 100%;
  box-shadow: 0px 0px 1px 1px #252525;
}

.review-item__name {
  width: 150px;
  margin-left: 8px;
  font-weight: bold;
  font-size: 1.2rem;
}

.review-item__stars {
  font-size: 0.8rem;
  align-items: center;
  justify-content: end;
}

.review-item__hr {
  margin-top: 15px;
  width: 100%;
  border-bottom: 1px;
  opacity: 0.3;
}

.review-item__review_image img {
  object-fit: cover;
  width: 100%;
  height: 250px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 5px 13px -5px #252525b5;
}

.review-item__likes_container {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.8)
  );

  font-size: 2rem;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: space-around;
}
.review-item__likes_container p {
  margin: 0;
  font-size: 1.3rem;
  padding: 0px 5px;
}

.review-item__likes_container svg {
  padding-top: 10px;
}
.review-item__dislike_buttom:hover {
  background-color: rgb(255, 0, 0, 0.4);
}

.review-item__like_buttom:hover {
  background-color: rgba(0, 128, 0, 0.4);
}

.review-item__dislike_buttom,
.review-item__like_buttom {
  padding-bottom: 5px;
  transition: 0.8s;
}
