.product-item {
  &__wraper {
    p {
      text-align: end;
      font-size: rem(12px);
      color: black;
    }
  }
  border-radius: 10px;
  margin: 5px 0px;
  cursor: pointer;
  background-color: $primary_light_posts;
  height: 450px;

  &__link {
    transition: $transition_fast;
    position: relative;
    &:hover {
      background: $hover_light_dark;
    }
  }

  &__content_container {
    box-shadow: $box_shadow;
    position: relative;
    overflow: hidden;
    padding: 1rem;
    padding-bottom: 0px;

    p,
    h1,
    h2,
    h3 {
      color: black;
    }
    p {
      text-align: inherit;
      font-size: rem(12px);
    }

    h3 {
      width: 60%;
      margin: 0 auto;
      overflow-y: auto;
      font-weight: normal;
    }

    svg {
      color: #ffffff80;
    }
  }
  &__diet {
    p {
      font-size: 10px;
    }
  }

  &__footer {
    padding: 0 10px;
    p {
      font-size: rem(14px);
      color: black;
    }
  }

  &__stars {
    font-size: 1rem;
    align-items: center;
    justify-content: end;
  }

  &__hr {
    margin-top: 15px;
    width: 100%;
    border-bottom: 1px;
    opacity: 0.3;
  }
  &__image {
    height: 200px;
    img {
      border-radius: 0px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  &__actions {
    position: absolute;
    padding: 0 5px;
    bottom: 5px;
  }
  &__edit-btn {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
