@import "./typography.scss";

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  width: 100vw;
  font-family: Poppins_regular, sans-serif;
  line-height: 1.6;
}

body {
  overflow-x: hidden;
  margin: 0;
  width: 100vw;
  background-color: $background_white;
  // background-image: url("https://res.cloudinary.com/dzeycmkct/image/upload/v1679820939/bg_piydqk.png");
  // background-size: contin;
}

img {
  border-radius: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: initial;
  color: white;
  margin: 0;
  font-weight: normal;
  letter-spacing: 1px;
}

h1 {
  font-family: Poppins_extra_bold, "sans-sarif";
}

h3,
h4 {
  font-family: Poppins_regular, "sans-sarif";
  letter-spacing: 1px;
  font-size: rem(14px);
}

h2 {
  font-family: Poppins_semi_bold, "sans-sarif";
  letter-spacing: 1px;
  font-size: rem(16px);
}

p {
  color: white;
  font-size: rem(14px);
  margin: 0;
  font-family: Poppins_light, "sans-sarif";
  letter-spacing: 1.3px;
}

small {
  margin: 0;
  font-size: rem(10px);
  font-family: Poppins_thin, "sans-sarif";
}

hr {
  margin: 5px;
  width: 100%;
  border-bottom: 1px;
  opacity: 0.2;
}

button {
  cursor: pointer;
  border: none;
  font-family: Popping_bold, "sans-sarif";
  letter-spacing: 2px;
}

label {
  cursor: pointer;
  font-family: Poppins_regular, "sans-sarif";
  font-size: rem(14px);
  margin: 3px 0px;

  &.checkbox__label {
    font-family: "Poppins_regular";
  }
}

a {
  letter-spacing: 2px;
  text-decoration: none;
}

// SCROLLER
/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0.043);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(227, 227, 227, 0.279);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(235, 235, 235, 0.477);
}

.observed-element {
  opacity: 0;
  transition: $transition_slow;
  z-index: 5;
  background: $primary_little_opacity;
}

.visible {
  opacity: 1;
}

.scroll-nav {
  background: $primary;
}
