@import "./typography.scss";

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-family: montserratRegular, sans-serif;
  line-height: 1.6;
  background-color: $background_black;
}

body {
  overflow-x: hidden;
  margin: 0;
  width: 100vw;
  background-image: url("https://res.cloudinary.com/dzeycmkct/image/upload/v1679820939/bg_piydqk.png");
  background-size: contin;
}

img {
  border-radius: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: initial;
  color: white;
  margin: 0;
  font-weight: normal;
}

h1 {
  font-family: montserratBold, "sans-sarif";
}

h2,
h3,
h4 {
  font-family: montserratRegular, "sans-sarif";
}

h2 {
  font-size: rem(18px);
}

p {
  color: white;
  font-size: rem(14px);
  margin: 0;
  font-family: montserratLight, "sans-sarif";
}

small {
  margin: 0;
  font-size: rem(12px);
  font-family: montserratExtraLight, "sans-sarif";
}

button {
  cursor: pointer;
  border: none;
  font-family: montserratRegular, "sans-sarif";
}

textarea,
input {
  resize: none;
  border: none;
  font-size: rem(20px);
  font-family: montserratLight, "sans-sarif";
}

.form-control input:focus,
.form-control textarea:focus {
  outline: none;
  background: #ebebeb;
  border-color: #510077;
}

.form-control--invalid label,
.form-control--invalid p {
  color: red;
}

.MuiFormControl-root {
  &.MuiTextField-root {
    margin-top: 20px;
    .MuiOutlinedInput-root {
      border-radius: 15px;
      &:hover {
        background-color: #51007758;
      }
    }
  }
  .MuiOutlinedInput-notchedOutline {
    border-color: #510077;
  }
}

label {
  cursor: pointer;
  font-family: montserratBold, "sans-sarif";
}

a {
  text-decoration: none;
}

// SCROLLER

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0.043);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(227, 227, 227, 0.279);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(235, 235, 235, 0.477);
}
