.button {
  font: inherit;
  font-family: Poppins_semi_bold;
  border-radius: 5px;
  padding: 0.4rem 1.3rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  letter-spacing: 2px;
  transition: $transition_fast;
}

.button:focus {
  outline: none;
}
/* ----------- Get STARTED ------------- */
.button--get_started {
  border: 1px solid $primary_light;
  background: $primary_light;
  &:hover,
  &:active {
    background: $primary_light_active;
    border-color: $primary_light_active;
  }
}

/*  ---------- call to action ---------- */
.button--call_to_action {
  background: $primary;
  border: 1px solid $primary;
  &:hover,
  &:active {
    background: $primary_medium_light;
    border-color: $primary_medium_light;
  }
}
/* -------------- Edit -------------- */
.button--edit {
  background: #ffbd63;
  border: 1px solid #ffbd63;
  &:hover,
  &:active {
    background: #ffbd03;
    border-color: #ffbd03;
  }
}
/*  ---------- regular action ---------- */
.button--regular_action {
  background: $primary;
  border: 1px solid $primary;
  &:hover,
  &:active {
    background: $primary_medium_light;
    border-color: $primary_medium_light;
  }
}

.button--inverse--regular_action {
  background: $primary_light;
  &:hover,
  &:active {
    color: white;
    background: $primary_light_active;
  }
}

/*  ---------- upload ---------- */
.button--upload {
  color: white;
  background: #a881af;
  border: 1px solid #a881af;
  &:hover,
  &:active {
    background: #80669d;
    border-color: #80669d;
  }
}

.button--inverse--upload:hover,
.button--inverse--upload:active {
  background: #80669d;
  border-color: #80669d;
}

/*  ---------- danger ---------- */
.button--danger {
  background: #f32c2c;
  border-color: #f32c2c;
  &:hover,
  &:active {
    background: #f34343;
    border-color: #f34343;
  }
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: $primary_grey_blur;
  color: white;
  border-color: $primary_grey_blur;
  cursor: not-allowed;
}

/* --------- size ---------- */
.button--very_small {
  font-size: rem(14px);
}

.button--small {
  font-size: rem(16px);
}

.button--big {
  font-size: rem(18px);
}


