.button {
  font: inherit;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: $transition_fast;
}

.button:focus {
  outline: none;
}
/* ----------- Get STARTED ------------- */
.button--get_started {
  border: 1px solid $clr12;
  background: $clr12;
  &:hover,
  &:active {
    background: $clr121;
    border-color: $clr121;
  }
}

/*  ---------- call to action ---------- */
.button--call_to_action {
  background: #33b249;
  border: 1px solid #33b249;
  &:hover,
  &:active {
    background: #33b200;
    border-color: #33b200;
  }
}
/* -------------- Edit -------------- */
.button--edit {
  background: #ffbd63;
  border: 1px solid #ffbd63;
  &:hover,
  &:active {
    background: #ffbd03;
    border-color: #ffbd03;
  }
}
/*  ---------- regular action ---------- */
.button--regular_action {
  background: #266df9;
  border: 1px solid #266df9;
  &:hover,
  &:active {
    background: #4681f4;
    border-color: #4681f4;
  }
}

.button--inverse--regular_action {
  background: #4881f4cc;
  &:hover,
  &:active {
    color: white;
    background: #4681f4;
  }
}

/*  ---------- upload ---------- */
.button--upload {
  color: white;
  background: #a881af;
  border: 1px solid #a881af;
  &:hover,
  &:active {
    background: #80669d;
    border-color: #80669d;
  }
}

.button--inverse--upload:hover,
.button--inverse--upload:active {
  background: #80669d;
  border-color: #80669d;
}

/*  ---------- danger ---------- */
.button--danger {
  background: #830000;
  border-color: #830000;
  &:hover,
  &:active {
    background: #f34343;
    border-color: #f34343;
  }
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: linear-gradient(45deg, #a6a6a6, #9b9b9b);
  color: #252525;
  border-color: #cccccc47;
  cursor: not-allowed;
}

/* --------- size ---------- */
.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1rem;
}
