textarea,
input {
  resize: none;
  border: none;
  // font-size: rem(18px);
  font-family: Poppins_medium, "sans-sarif";
  letter-spacing: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline: none;
  background: #ebebeb;
  border-color: #510077;
}

.form-control--invalid label,
.form-control--invalid p {
  color: red;
}

.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  border-radius: 4px;
}
.form-control label {
  // font-size: rem(14px);
  margin: 3px 0px;
}

.form-control {
  input,
  textarea {
    width: 100%;
    font: inherit;
    border: 1px solid #ccc;
    background: #f8f8f8;
    padding: rem(2px) rem(5px);
    &:hover {
      background-color: #9c9c9c24;
    }
  }
  input {
    &.checkbox {
      width: auto;
      margin: 0;
      margin-right: 4px;
    }
  }
}

// checkbox

.form-control--invalid input,
.form-control--invalid textarea {
  border-color: red;
  background: #ffd1d1;
}

.image-upload.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-upload__preview {
  width: 13rem;
  height: 13rem;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.image-upload__preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
