.container {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;

  &-reviews {
    height: 86vh;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
  }

  @include for-narrow-layout {
    max-width: $mobile-breakpoint;
  }

  @include for-normal-layout {
    max-width: $narrow-breakpoint;
  }

  @include for-wide-layout {
    max-width: $normal-breakpoint;
  }
}
