@font-face {
    font-family: Poppins_black;
    src: url(../../styles/fonts/poppins/Poppins-Black.ttf);
}

@font-face {
    font-family: Poppins_bold;
    src: url(../../styles/fonts/poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins_extra_bold;
    src: url(../../styles/fonts/poppins/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: Poppins_light;
    src: url(../../styles/fonts/poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: Poppins_medium;
    src: url(../../styles/fonts/poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins_regular;
    src: url(../../styles/fonts/poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins_semi_bold;
    src: url(../../styles/fonts/poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: Poppins_thin;
    src: url(../../styles/fonts/poppins/Poppins-Thin.ttf);
}
